#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

/* themes */
.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
